<div class="grid-container">
  <header class="header">
    <div class="logoWrapper">
      <svg width="400" height="150" xmlns="http://www.w3.org/2000/svg">
        <path id="curve" d="M12,45
           q54,-68 110,15
           T250 55" fill="none" stroke="#76AAC0" stroke-width="2px" />
        <text font-family="'Allerta Stencil', sans-serif" font-weight="300" font-size="30" stroke="#76AAC0"
          stroke-width="1px" stroke-opacity="1" fill="url(#grad)" width="400">
          <textpath xlink:href="#curve"> vox dox* *lock box</textpath>
        </text>
        <defs>
          <filter height="200%" width="200%" y="-50%" x="-50%" id="svg_11_blur">
            <feGaussianBlur stdDeviation="0" in="SourceGraphic" />
          </filter>
          <filter id="svg_12_blur">
            <feGaussianBlur stdDeviation="0.5" in="SourceGraphic" />
          </filter>
          <filter id="svg_31_blur">
            <feGaussianBlur stdDeviation="0" in="SourceGraphic" />
          </filter>
          <linearGradient id="grad" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" style="stop-color:rgb(153, 1, 1);stop-opacity:1" />
            <stop offset="50%" style="stop-color:rgb(80, 36, 36);stop-opacity:1" />
            <stop offset="60%" style="stop-color: rgb(250, 250, 250);stop-opacity:1" />
          </linearGradient>
        </defs>
        <g>
          <title>background</title>
          <rect fill="transparent" id="canvas_background" height="163" width="125" y="-1" x="-1" />
          <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
            <rect fill="url(#gridpattern)" stroke-width="0" y="1" x="1" height="200" width="150" />
          </g>
        </g>
        <g>
          <title>Layer 1</title>
          <g stroke="null" id="svg_28">
            <g stroke="null"
              transform="matrix(0.2421797669576515,0,0,0.22847940957396307,-386.9927491793849,-174.62594541789747) "
              id="svg_10">
              <path stroke="null" filter="url(#svg_11_blur)" opacity="0.6" stroke-width="0" id="svg_11"
                d="m1956.706427,1102.296713c-5.522,0 -10,4.477 -10,10l0,57.685c0,54.552 -44.382,98.934 -98.934,98.934s-98.934,-44.382 -98.934,-98.934l0,-57.685c0,-5.523 -4.478,-10 -10,-10s-10,4.477 -10,10l0,57.685c0,62.212 48.016,113.414 108.934,118.51l0,103.656l-56.062,0c-5.522,0 -10,4.477 -10,10s4.478,10 10,10l132.123,0c5.522,0 10,-4.477 10,-10s-4.478,-10 -10,-10l-56.062,0l0,-103.656c60.917,-5.096 108.934,-56.297 108.934,-118.51l0,-57.685c0.001,-5.523 -4.476,-10 -9.999,-10z" />
              <path fill="#884D58" stroke="null" filter="url(#svg_12_blur)" opacity="0.5" id="svg_12"
                d="m1847.773427,1256.763713c49.519,0 89.806,-40.287 89.806,-89.805l0,-94.1c-0.001,-49.518 -40.288,-89.805 -89.806,-89.805s-89.806,40.287 -89.806,89.806l0,94.1c0,49.518 40.287,89.804 89.806,89.804zm-69.806,-183.904c0,-38.491 31.314,-69.806 69.806,-69.806s69.806,31.314 69.806,69.806l0,94.1c0,38.491 -31.314,69.805 -69.806,69.805s-69.806,-31.314 -69.806,-69.805l0,-94.1z" />
            </g>
            <g stroke="null"
              transform="matrix(0.6167360009811185,0,0,0.5207074998225573,-1525.9648671187272,-791.6009675915523) "
              id="svg_13" />
            <g stroke="null"
              transform="matrix(0.6167360009811185,0,0,0.5207074998225573,-1525.9648671187272,-791.6009675915523) "
              id="svg_14" />
            <g stroke="null"
              transform="matrix(0.6167360009811185,0,0,0.5207074998225573,-1525.9648671187272,-791.6009675915523) "
              id="svg_15" />
            <g stroke="null"
              transform="matrix(0.6167360009811185,0,0,0.5207074998225573,-1525.9648671187272,-791.6009675915523) "
              id="svg_16" />
            <g stroke="null"
              transform="matrix(0.6167360009811185,0,0,0.5207074998225573,-1525.9648671187272,-791.6009675915523) "
              id="svg_17" />
            <g stroke="null"
              transform="matrix(0.6167360009811185,0,0,0.5207074998225573,-1525.9648671187272,-791.6009675915523) "
              id="svg_18" />
            <g stroke="null"
              transform="matrix(0.6167360009811185,0,0,0.5207074998225573,-1525.9648671187272,-791.6009675915523) "
              id="svg_19" />
            <g stroke="null"
              transform="matrix(0.6167360009811185,0,0,0.5207074998225573,-1525.9648671187272,-791.6009675915523) "
              id="svg_20" />
            <g stroke="null"
              transform="matrix(0.6167360009811185,0,0,0.5207074998225573,-1525.9648671187272,-791.6009675915523) "
              id="svg_21" />
            <g stroke="null"
              transform="matrix(0.6167360009811185,0,0,0.5207074998225573,-1525.9648671187272,-791.6009675915523) "
              id="svg_22" />
            <g stroke="null"
              transform="matrix(0.6167360009811185,0,0,0.5207074998225573,-1525.9648671187272,-791.6009675915523) "
              id="svg_23" />
            <g stroke="null"
              transform="matrix(0.6167360009811185,0,0,0.5207074998225573,-1525.9648671187272,-791.6009675915523) "
              id="svg_24" />
            <g stroke="null"
              transform="matrix(0.6167360009811185,0,0,0.5207074998225573,-1525.9648671187272,-791.6009675915523) "
              id="svg_25" />
            <g stroke="null"
              transform="matrix(0.6167360009811185,0,0,0.5207074998225573,-1525.9648671187272,-791.6009675915523) "
              id="svg_26" />
            <g stroke="null"
              transform="matrix(0.6167360009811185,0,0,0.5207074998225573,-1525.9648671187272,-791.6009675915523) "
              id="svg_27" />
          </g>
          <path filter="url(#svg_31_blur)" stroke-width="0" opacity="0.65" stroke="#000" stroke-dasharray="5,2,2,2,2,2"
            id="svg_31"
            d="m31.445265,76.505919c-11.293691,0 -20.453409,-8.60009 -20.453409,-19.203773l0,0c0.006818,-8.510472 5.911035,-15.679881 14.068536,-18.192374l0,0c0.282939,-7.233421 6.603042,-13.007356 14.371929,-13.013757l0,0c2.488498,0 4.823596,0.608119 6.851892,1.654725l0,0c4.315669,-6.737324 12.169778,-11.253411 21.16246,-11.256612l0,0c13.454934,0.006401 24.397508,10.097984 24.707718,22.657251l0,0c8.051825,2.573306 13.846958,9.710708 13.853776,18.150766l0,0c0,10.603683 -9.159718,19.203773 -20.453409,19.203773l0,0l-54.109493,0l0,0zm56.591173,-31.766241c-1.741949,-0.30406 -2.945291,-1.798753 -2.778255,-3.453479l0,0c0.057951,-0.547308 0.09204,-1.075411 0.09204,-1.590713l0,0c-0.023862,-9.278623 -8.017736,-16.787298 -17.900142,-16.800101l0,0c-7.666619,-0.006401 -14.187848,4.538492 -16.741115,10.914144l0,0c-0.415886,1.033803 -1.384014,1.805155 -2.549858,2.016396l0,0c-1.159026,0.211242 -2.365778,-0.166433 -3.160052,-0.988994l0,0c-1.418103,-1.449885 -3.361177,-2.33966 -5.566736,-2.33966l0,0c-4.175904,0.006401 -7.554126,3.178224 -7.567761,7.098995l0,0c0,0.435286 0.057951,0.883374 0.153401,1.357067l0,0c0.167036,0.851367 -0.027271,1.72834 -0.555651,2.438879l0,0c-0.52838,0.71374 -1.336289,1.187433 -2.239648,1.32506l0,0c-6.476913,1.001797 -11.426638,6.238026 -11.41982,12.581672l0,0c0.013636,7.070189 6.108751,12.786512 13.639015,12.805716l0,0l54.112902,0c7.530263,-0.019204 13.615152,-5.735527 13.632197,-12.805716l0,0c0.013636,-6.263631 -4.806551,-11.458251 -11.150517,-12.559268l0,0"
            stroke-opacity="null" fill="#8391AE" />
          <path stroke="#000" style="vector-effect: non-scaling-stroke;" id="svg_41"
            d="m87.43,172.591106l0,-0.158008l-0.000044,0c-0.000062,-0.195015 -0.158115,-0.353023 -0.353106,-0.353023s-0.35313,0.158093 -0.35313,0.353108l0,0l0,0.157924l-0.127703,0l0,0.678313l0.961645,0l0,-0.678313l-0.127662,0zm-0.594714,-0.157924c0,0 0,0 0,0c0,-0.133254 0.108373,-0.241629 0.241564,-0.241629c0.133277,0 0.241649,0.108375 0.241649,0.241545c0,0 0,0 0,0l0,0.158008l-0.483214,0l0,-0.157924z"
            stroke-opacity="null" stroke-width="0" fill="#000000" />
        </g>
      </svg>
    </div>

    <div class="content">
      <div class="uploadForm">
        <form action="/api/projects" enctype="multipart/form-data" method="POST">
          <div class="row">
            <h2>Upload Form</h2>
          </div>

          <div class="row">
            <label for="title">
              <h3>title</h3>
            </label>
            <input type="text" name="title" />
          </div>


          <div class="row">
            <label for="description">
              <h3>description</h3>
            </label>
            <input type="text" name="description" />

          </div>
          <hr>
          <div class="row" id="fileUpload">
            <br>
            <input type="file" name="myFile" class="fileInput" />
            <input class="submitBtn" type="submit" value="send" />
          </div>
        </form>
      </div>
      <div class="projView">
        {{!-- display db data --}}

        {{#each files}}
        <ul>
          <li>
            {{title}}
          </li>
          <button class="btn-select" id="btnUrl" value={{url}} type="submit">Select</button>
        </ul>

        {{/each}}

        {{!-- display db data end --}}




      </div>
    </div>
    <div>
      <button class="togglePlayer"><i class="fas fa-clipboard-list">
        </i></button>
    </div>

  </header>

  <sidebar class="sidebar">
    <p contenteditable="true">This is an editable paragraph.</p>

  </sidebar>

  <main class="main">
    <div class="container">
      <div class="leftCircle">
      </div>
      <div class="rightCircle">
      </div>
      <div class="transport">
        <div class="player">
          <audio class="player_video viewer" id="player" src="testing" type="audio/mpeg">
          </audio>
          <div class="player_controls">
            <div class="progress">
              <div class="progress_filled"></div>
            </div>
            <button class="player_button toggle" title="Toggle Play">&#9658;</button>
            <input type="range" name="volume" class="player_slider" min="0" max="1" step="0.05" value="1">
            <input type="range" name="playbackRate" class="player_slider" min="0.5" max="2" step="0.1" value="1">
            <button data-skip="-10" class="player_button">« 10s</button>
            <button data-skip="25" class="player_button">25s »</button>
          </div>
        </div>
      </div>
    </div>

  </main>

  <right class="right">
  </right>


  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="/js/index.js"></script>
  <script src="/js/auth.js"></script>


  {{!-- // HERE IS THE PLAYBACK SRC UPDATER --}}
  <script>
    // put button value attr into an empty var
    var btnVal = "";
    $("#btnUrl").click(function () {
      console.log("HERE I AM");
      var btnVal = $("#btnUrl").val();
      console.log(btnVal);
      var playme = document.getElementById('player');
      playme.src = btnVal;
      playme.load();
    })
  </script>